<ion-view title="Page" id="page1">
  <ion-content padding="true" class="has-header">
    <h1 id="page-heading1" style="color:#000000;">Cross Cultural Understanding for Youth</h1>
    <div ng-init="videourl_video1=&quot;https://www.youtube.com/embed/NapxPcm5G5M?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="page-video1">
      <iframe src="{{videourl_video1}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
  </ion-content>
</ion-view>